CHANGE REPLICATION SOURCE TO SOURCE_HOST='{{ MYSQL_DB1.CONTAINER_NAME_MYSQL_DB1 }}', SOURCE_USER='{{ MYSQL_DB1.SOURCE_USER }}', SOURCE_PASSWORD='{{ MYSQL_DB1.SOURCE_PASSWORD }}', SOURCE_AUTO_POSITION = 1, GET_SOURCE_PUBLIC_KEY = 1;
