CREATE USER {{ MYSQL_DB1.SOURCE_USER }}@'%' IDENTIFIED WITH 'caching_sha2_password' BY '{{ MYSQL_DB1.SOURCE_PASSWORD }}';
GRANT REPLICATION SLAVE ON *.* TO {{ MYSQL_DB1.SOURCE_USER }}@'%';

CREATE DATABASE IF NOT EXISTS {{ DATABASES.DB_Zabbix.DATABASE }} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
CREATE USER IF NOT EXISTS '{{ DATABASES.DB_Zabbix.USER }}'@'%' IDENTIFIED BY '{{ DATABASES.DB_Zabbix.PASSWORD }}';
GRANT ALL PRIVILEGES ON {{ DATABASES.DB_Zabbix.DATABASE }}.* TO '{{ DATABASES.DB_Zabbix.USER }}'@'%';
FLUSH PRIVILEGES;

CREATE DATABASE IF NOT EXISTS {{ DATABASES.DB_Wordpress.DATABASE }} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
CREATE USER IF NOT EXISTS '{{ DATABASES.DB_Wordpress.USER }}'@'%' IDENTIFIED BY '{{ DATABASES.DB_Wordpress.PASSWORD }}';
GRANT ALL PRIVILEGES ON {{ DATABASES.DB_Wordpress.DATABASE }}.* TO '{{ DATABASES.DB_Wordpress.USER }}'@'%';
FLUSH PRIVILEGES;
